/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */

a {
  text-decoration: none !important;
  color: inherit;
  transition: all 300ms ease;
}

.m {
  --bs-gutter-x: 30px;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
}

/* DESKTOP NAV */
#desktop-nav {
  font-family: "Noto Sans", sans-serif;
  /* background: hsla(0, 0%, 100%, .8); */
  /* border-bottom: 1px solid #eaeaea; */
  position: absolute;
  /* backdrop-filter: blur(8px); */
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 84px;
  width: 100%;
  margin: auto;
  max-width: 1344px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}



.logo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  /* Remove underline from link */

}

.logo-name {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  /* Adjust size as needed */
  height: 51px;
}

.logo-icon img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.nav-item {
  padding: 0 10px 0 10px;
}

.nav-links-container {
  height: 30px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  top: 50%;
  left: 50%;
}

.hamburger-option img {
  width: 30px;
  height: 20px;
  filter: brightness(0) invert(1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-contact-wrapper {
  display: flex;
  /* Makes items appear in a row */
  gap: 15px;
  /* Adds spacing between the items */
  align-items: center;
  /* Vertically aligns items */
  position: relative;
}

.nav-contact-item {
  cursor: pointer;
}

.nav-contact-item:nth-child(1) img {
  width: 40px;
  height: 40px;
}

.nav-contact-item:nth-child(2) img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.nav-contact-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.nav-contact-icons {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 5px 15px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.contact-popper {
  position: absolute;
  top: 120%;
  right: 0%;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
}

.contact-popper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-popper li {
  display: flex;
  align-items: center;
  padding: 8px;
}

.contact-popper li:last-child {
  margin-bottom: 0;
}

.contact-popper li a {
  font-size: 16px;
  color: #222;
  font-weight: 400;
}

.contact-popper img {
  margin-right: 8px;
}

.contact-icon-inverted {
  filter: invert(1);
}


/* Dropdown specific styles */
.location-container .dropdown {
  position: relative;
  /* Set relative positioning to the parent container for proper alignment */
}

.dropdown-options {
  display: none;
  top: 100%;
  left: -5%;
  position: absolute;
  background: #fff;
  width: 200px;
  box-shadow: 0 4px 15.2px 0 rgba(0, 0, 0, .07);
  z-index: 999;
  padding: 1px 0 0;
  border-radius: 12px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.nav-links-container:hover .dropdown-options,
.dropdown-options:hover {
  display: block;
  /* Keep dropdown visible when hovering over it */
}

.dropdown a {
  display: flex !important;
  align-items: center;
  gap: 8px;
}

.dropdown svg {
  width: 16px;
  height: 12px;
  fill: #ffffff;
}

.dropdown:hover svg {
  transform: rotate(180deg);
}

/* Dropdown content styling */
.dropdownitems-link {
  padding: 12px 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

.dropdownitems-link:hover {
  background: #1d1d1d;
  color: #fff;
}

.dropdownitems-link img {
  width: 22px;
  height: 15px;
}

.dropdownitems-link:last-child {
  border-radius: 0 0 12px 12px;
}

.navitem-dropdown-padding {
  color: white;
  text-decoration: none;
  padding: 19px 5px;
}

.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.hamburger-option {
  position: relative;
  display: inline-block;
}


.hamburger-dropdown {
  display: none;
  position: absolute;
  top: 155%;
  right: -30%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px 0;
  min-width: 150px;
  /* Adjust width if needed */
}

.hamburger-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hamburger-dropdown li {
  padding: 10px 15px;
}

.hamburger-dropdown li:hover {
  background-color: #f0f0f0;
  /* Light gray on hover */
}

.hamburger-dropdown a {
  text-decoration: none;
  color: #333;
  /* Dark text */
  font-size: 14px;
}

.hamburger-dropdown a span {
  font-weight: bold;
  color: #007bff;
  /* Optional: color the GBP amount */
}







/* City-head */


.city-image-container {
  position: relative;
  width: 100%;
  height: 580px;
  overflow: hidden;
}

.city-image-container img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.image-head-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.city-title {
  /* font-family: "Brush Script MT", cursive; */
  /* font-family: "Noto Sans", sans-serif; */
  font-size: 90px;
  color: white;
  position: absolute;
  top: 30%;
  z-index: 1;
  /* Ensures title is on top of the image */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

nav {
  position: relative;
  /* Allows navbar to remain above the section */
  z-index: 2;
  /* Ensures the navbar stays on top of everything */
}

#city-head-section {
  position: relative;
  overflow: hidden;
}


/* City-info */

#city-info-section {
  box-sizing: border-box;
  min-height: fit-content;

}

.city-info-container {
  max-width: 1290px;
  padding-top: 30px;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: fit-content;
  margin-left: auto;
  margin-right: auto;

}

.city-info-container h2 {
  padding: 2rem 0;
  text-align: center;
}







/* Property-facilities */

#property-facilies {
  margin-top: 60px;
  margin-bottom: 120px;
  box-sizing: border-box;
  min-height: fit-content;
}

.property-facilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1310px;
}

.facilities-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}

.facilities-container {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: calc(var(--bs-gutter-y)* -1);
  /* margin-right: calc(var(--bs-gutter-x)* -0.5);
  margin-left: calc(var(--bs-gutter-x)* -0.5); */
}

.facilities-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  flex: 0 0 auto;
  width: 15%;

}

.facilities-item div {
  margin-top: 20px !important;
}














/* Property-list */

#city-properties {
  /* background-color: rgb(228, 228, 228); */
  background-color: #f3f4f9;
  padding-top: 60px;
  padding-bottom: 120px;

}

.city-properties-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
}

.city-properties-head {
  align-self: flex-start;
  /* Align the head to the left */
}

.city-properties-head p {
  margin-top: 20px;
}