@media (max-width:1401px) {
  .nav-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1401px) {
  .footer-upper-container {
    max-width: 1320px;
  }

  .contact-us-container {
    max-width: 1290px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {

  .footer-upper-container {
    max-width: 1140px;
  }

  .contact-us-container {
    max-width: 1110px;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {

  .footer-upper-container {
    max-width: 960px;
  }

  .contact-us-container {
    max-width: 930px;
  }

  .company {
    padding-right: 0px !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {

  .footer-upper-container {
    max-width: 720px;
  }

  .contact-us-container {
    max-width: 690px;
  }

  .company {
    padding-right: 0px !important;
  }
}

@media (min-width: 768px) {
  .small-screen-only {
    display: none;
  }

}

@media (max-width: 768px) {
  .logo-name {
    display: none;
  }

  .nav-container {
    padding: 12px 16px;
  }

  .big-screen-only {
    display: none;
  }

  .nav-desktop {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  .contact-us-container {
    max-width: 510px;
  }
}

@media (max-width: 576px) {
  /* #desktop-nav {
    position: static;
  } */


  .footer-upper-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-us-container {
    max-width: 420px;
  }

  .company {
    flex-grow: 1;
    padding-left: 40px;
    padding-right: 40px;
  }

  .right-section {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
    /* Make the left section take the full width */
    padding: 0 10px 20px;
  }

  .left-section {
    width: 100%;
    /* Ensure the left section expands to full width */
  }

  /* sdsdsdsdsdsdsdsd */

  .grid-images {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    /* Disable grid layout */
    min-height: 1px;
  }

  .grid-images .item {
    display: none;
    /* Hide all images initially */
  }

  .grid-images .item.visible {
    display: block;
    /* Only one visible image */
  }

  .carousel-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Adjust to full width */
    transform: translateY(-50%);
  }

  .left-arrow,
  .right-arrow,
  .room-left-arrow,
  .room-right-arrow {
    display: none;
  }

  .left-arrow-full-modal,
  .right-arrow-full-modal {
    display: none;
  }

  .modal-full-content {
    justify-content: center;
  }

  .modal-full-image {
    max-width: 95%;
    max-height: 80%;
  }

  /* kjsdbhfkljzxdbfgkljbsdflkhjba */


  .property-room-upper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .room-photos {
    width: 100%;
    order: 1;
    /* Ensure the image comes first */
  }

  .room-details {
    width: 100%;
    margin-top: 20px;
    /* Add space between image and details */
    order: 2;
    /* Ensure room details come below the image */
  }

  /* Ensure carousel still works in room options */
  .room-photos img {
    width: 100%;
    object-fit: cover;
    min-height: 1px;
  }

  .photo-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .modal-content {
    width: 90%;
    /* Form will take up the full width of the screen */
    margin: 0 auto;
    /* Center the form horizontally */
    box-sizing: border-box;
    /* Ensure padding and margin don't affect the width */
  }
}

@media only screen and (max-width: 768px) {

  .upper-part:nth-of-type(2) {
      display: none;
  }

}